* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background: radial-gradient(circle,
      #7FFFBF,
      #C8A0E8,
      #FF7AB7);
}

/*Header styles ------------------------------------------------------------------------------------------------*/
.header-style{
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #A8FF94;
  position: sticky;
  top: 0;
  z-index: 100;
}

.img-logo{
  width: 50px;
  height: 50px;
}

.webpage-title{
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  margin-left: 1rem;
}


/*gallery styles ------------------------------------------------------------------------------------------------*/

/*Form styles ------------------------------------------------*/
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin: 0 auto;
  justify-content: center;

}

.form-style{
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  padding: 1rem;
  width: 300px; 
  background-color: #F0F8FF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-style input{
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-style select{
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-style span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-style span button{
  width: 200px;
  padding: 5px 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #A8FF94;
  cursor: pointer;
}

/*cards styles ------------------------------------------------*/

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin: 1rem auto;
    width: 50vw;
    gap: 20px;
    padding: 1rem;
}

.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card img{
    width: 100%;
    height: auto;
}

.card p, h2{
    margin-top: 0.5rem;
    padding: 0.5rem;
}


.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

/*
.dot-Alive{
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.dot-Dead{
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
.dot-unknown{
    width: 8px;
    height: 8px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

*/

.dot{
    --status: attr(data-status type(<custom-ident>));
    background-color: if(
        style(--status: Alive):green;
        style(--status: Dead):red;
        style(--status: unknown ):gray;
    );
}


.pagination-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 50vw;
    gap: 20px;
    padding: 1rem;
}

.pagination-button{
    display: inline-block;
    width: 40px;
    padding: 10px 0;
    background-color: #A8FF94;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Alert style -----------------------------------------------------------------------------------------*/


.alert-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    margin: 0 auto;
}

.alert{
    background-color: #ffcccc;
    border: 1px solid #ff0000;
    color: #ff0000;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}